
<div class="row">
    <div class="col-4"></div>
    <div class="col-4 clr mt-5">
        <h1 class="mt-5 text-white text-center">Event Add</h1>
        <form action="" (ngSubmit)="add_event()">
            <input type="text" name="event_name" class="form-control mb-2" placeholder="Enter event name" [(ngModel)]="event_name" >
            <input type="date" name="event_date" class="form-control mb-2" placeholder="Enter event date"  [(ngModel)]="event_date">
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <button class="btn btn-primary mb-4 mt-4" type="submit" >Add event</button>

    </div>
    <div class="col-4"></div>
</div>

        </form>
    </div>
    <div class="col-4"></div>
</div>

