<div class="row">
    <div class="col-4"></div>
    <div class="col-4 clr mt-5">
        <h1 class="mt-5 text-white text-center">Login Form</h1>
        <form action="" (ngSubmit)="login()">
            <input type="text" name="uid" class="form-control mb-2" placeholder="Enter Userid" [(ngModel)]="uid" >
            <input type="text" name="upswd" class="form-control mb-2" placeholder="Enter Password"  [(ngModel)]="upswd">
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <button class="btn btn-primary mb-4 mt-4" type="submit" >Login</button>


    </div>
    <div class="col-4"></div>
</div>

        </form>
        <button class="btn btn-primary mb-4 mt-4"  (click)="deleteAcc()">Delete Account</button>

    </div>
    <div class="col-4"></div>
</div>

