<div class="row">
    <div class="col-10">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <h1 class="tt">Welcome {{user}}</h1>

        </div>
        <div class="col-4"></div>
      </div>
    </div>
    <div class="col-2 mr">

        <ul class="text-white">
      <li>  <a routerLink="/eventadd" class="text-white" >Add Event</a></li>
      <li> <a routerLink="" class="text-white">Delete Event</a></li>
      <li> <a routerLink="/eventview" class="text-white">View Event</a></li>
      <li> <a routerLink="" class="text-white">Edit Event</a></li>
      <!-- <li> <a routerLink="/deleteAcct" class="text-white">Delete Account</a></li> -->


    </ul>

    </div>
</div>
